@charset "utf-8";
body  {
	font: 100% Georgia, Times New Roman, Times, serif;
	background: #EBB076;
	text-align: left
	
	}
	
h2{ 
 /* Eigenschappen van de titels op niveau 2*/
	font-size:90%;
		}
	
	 


ul#navlist {
/*weergaven van de unsorted list*/
	list-style: none;
	
	}

ul#navlist li a{
/* Weergave van de tekst in de navigatie tekst */
	
	text-decoration: none;
	
	}



div#tekst {
/* Eigenschappen van de gewoon geschreven tekst*/
	color:#4E2A07;
	
	}
ul#opsomming {
/*weergaven van de opsomming*/
	list-style: none;
	
	}


