body

{
background-image:url('http://img140.imageshack.us/img140/2003/vintage4.png');
background-repeat:repeat;
}

h1
{
font-family:"Forte";
color:purple;
font-size:100px;
text-align:center;
}

h2
{
font-family:"Gulim";
color:purple;
font-size:40px;
text-align:center;
}

p1
{
font-family:"Gulim";
color:grey;
font-size:40px;
text-align:center;
}

p2
{
font-family:"Corbel";
color:grey;
font-size:20px
}
